{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% tailwind_css %}
</head>
<body class="p-0 m-0">
    <header>
        <h1 class="text-3xl font-bold bg-gray-900 text-center ">Welcome to My Django Site</h1>
    </header>
    <nav>
        <ul class="flex space-x-4 items-center justify-center bg-gray-300 py-4">
            <li><a href="#" class="text-gray-800 hover:text-gray-600">Home</a></li>
            <li><a href="#" class="text-gray-800 hover:text-gray-600">About</a></li>
            <li><a href="#" class="text-gray-800 hover:text-gray-600">Contact</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </main>
    <footer class="bg-gray-900 text-white py-4">
        <p class="text-center">&copy; 2023 My Django Site</p>
    </footer>
</body>
</html>