{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold bg-orange-500">Welcome to My Site</h1>
<p>This is the index page.</p>
<p>Today's date is {{ current_date }}</p>
<p>Here you can find information about our services and updates.</p>
<p>Check out our latest offerings!</p>
<p class="text-sm text-gray-800">Stay tuned for more updates!</p>
<p class="text-lg text-gray-700">Join our newsletter for exclusive updates!</p>
<p class="text-md text-gray-600 bg-blue-900">Follow us on social media for the latest news!</p>
{% endblock %}